* {
  padding: 0px;
  margin: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #222222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #d0927e;
}

.App-link {
  color: #61dafb;
}

.Profile-settings {
  background-color: #111;
  background-image: url(https://i.pinimg.com/originals/8d/18/2f/8d182f613b9825dc5bf67c64c2777000.jpg);
  min-height: 100vh;
  justify-content: center;
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.projectscontainer {
  display: flex;
  background-color: #111;
  color: #fff;
  justify-content: center;
}

.projectsitem {
  background-color: burlywood;
}

.yostyle {
  color: aqua;
}

.navcontainer {
  background-color: bisque;
  color: aqua;
}

.navbox {
  background-color: #111111;
  justify-content: space-evenly;
  color: #eeeeee;
}

.navitem {
  /* background-color: rgb(226, 86, 43); */
  padding: 10px;
  align-items: center;
  justify-items: center;
  text-align: center;
  justify-content: center;
}